NODE_ENV=
PORT=
SERVICE_LOG_LEVEL=
E-COMMERCE_DB_HOST=
E-COMMERCE_DB_PORT=
E-COMMERCE_DB_NAME=
E-COMMERCE_DB_USER=
E-COMMERCE_DB_PASSWORD=

E_COMMERCE_TEST_DB_USER=
E_COMMERCE_TEST_DB_PASSWORD=
E_COMMERCE_TEST_DB_NAME=
E_COMMERCE_TEST_DB_HOST=
E_COMMERCE_TEST_DB_PORT=

JWT_SECRET=

# Cloudinary credentials
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_HOST=
REDIS_PORT=
