NODE_ENV=
PORT=
SERVICE_LOG_LEVEL=
JWT_SECRET=

# Database configuration
E_COMMERCE_DB_HOST=
E_COMMERCE_DB_PORT=
E_COMMERCE_DB_NAME=
E_COMMERCE_DB_USER=
E_COMMERCE_DB_PASSWORD=

# Test database configuration
E_COMMERCE_TEST_DB_USER=
E_COMMERCE_TEST_DB_PASSWORD=
E_COMMERCE_TEST_DB_NAME=
E_COMMERCE_TEST_DB_HOST=
E_COMMERCE_TEST_DB_PORT=

# cloudinary configuration
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin credentials
ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Redis configuration
REDIS_HOST=
REDIS_PORT=